@import '../base/mixin/media.scss';

@keyframes logoFlash {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.logo {
  position: relative;
  width: 300px;

  &__back {
    position: absolute;
    top: 0;
    animation: logoFlash 1.5s infinite alternate;
  }

  &__image {
    width: 100%;
  }
}