@import '../base/mixin/media.scss';

.top {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  &__scaleInner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  &__layout {
    margin-top: 70px;
  }

}